
  <div class="jumbotron">
    <div class="container">
      <div id="branding">
        <h1>Foodlurker</h1>
        <p>
          Find events with free food
        </p>
      </div>
      <div id="mainsearch">
        <form action="#" method="get">
          <div class="input-group input-group-lg">
            <input class="form-control" type="text" placeholder="Enter address or zip code" />
            <span class="input-group-btn">
              <button class="btn btn-danger" type="submit">
                <span class="glyphicon glyphicon-search" />
              </button>
            </span>
          </div>
        </form>
      </div>
    <div class="container">
  </div>
