<!DOCTYPE html>
<html>
	<head>
    <title>Foodlurker</title>
  </head>
  <body>
    <header>
      <h1>Foodlurker: unapolagetically listing free food events </h1>
    </header>
    <%= yield %>
  </body>
</html>